body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
/* 
fixed = parallax
scroll = normal
*/
  background-attachment: fixed;
}

.pimg1 {
  background-image: url('../images/abstract.jpg');
  min-height:100%;

}

.pimg2 {
  background-image: url('../images/codes.jpg');
  min-height: 400px;
}

.pimg3 {
  background-image: url('../images/boxes.jpg');
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.section-dark a {
  color: #ddd
}

.section-dark a:hover {
  color: #fff;
}



.section-dark2 {
  background-color: #282e34;
  color: #ddd;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 28px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext .border.trans {
  background-color: transparent;
}

.fronttext {
  padding: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #282e34;
  cursor: pointer;
}
.card-h {
  text-align: center;
  flex-shrink: 0;
  flex-basis: 100%;
}

.card {
  width: 25%;
  margin: 20px;
  background-color: #ddd;
  color: #282e34;
  text-align: left;
  align-items: stretch;  
}

.card img {
  width: 100%;
}

.card h5 {
  font-size: 1.5em;
  padding: 0 20px;
  margin: 0 0 5px 0;
}

.card p {
  padding: 0 20px 20px 20px;
  margin: 0;
}

.card p a {
  color: #282e34;
}

.card p a:hover {
  color: #fff;
}

@media(max-width: 1000px){
  .pimg1, .pimg2, .pimg3{
    background-attachment: scroll;
  }

  .ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 28px;
    letter-spacing: 6px;
    text-transform: uppercase;
  }

  .card {
    width: 40%;
    margin: 15px;
    background-color: #ddd;
    color: #282e34;
    text-align: left;
    align-items: stretch;  
  }

}

@media(max-width: 778px){
  .pimg1, .pimg2, .pimg3{
    background-attachment: scroll;
  }

  .ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 17px;
    letter-spacing: 6px;
    text-transform: uppercase;
  }

  .card {
    width: 100%;
    margin: 10px;
    background-color: #ddd;
    color: #282e34;
    text-align: left;
    align-items: stretch;  
  }

}

@media(max-width: 500px){
  .pimg1, .pimg2, .pimg3{
    background-attachment: scroll;
  }

  .ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 17px;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .card {
    width: 100%;
    margin: 5px;
    background-color: #ddd;
    color: #282e34;
    text-align: left;
    align-items: stretch;  
  }

}